Gmail Intelligent System.json
{
  "name": "Gmail Intelligent System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */5 * * * *"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2800,
        -752
      ],
      "id": "e502bcba-13eb-4f59-b16b-0cb9eb97d82f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an AI email classification agent.\nYour task is to analyze the email subject, sender, and body content and assign exactly one of the following labels.\nAlways choose the best-fit single category.\nIf an email does not clearly match any category, assign it to Misc.\n\nOutput Rules\n\nReturn only the label name\n\nDo not return explanations in the output\n\nBe consistent and deterministic\n\nIgnore signatures, disclaimers, and tracking footers unless relevant\n\n1. Promotions\n\nDefinition:\nMarketing, advertising, or sales-driven emails intended to promote products, services, discounts, offers, or brand awareness.\n\nExamples:\n\n“Get 40% off on all hosting plans – Limited Time Offer”\n\n“Introducing our new AI tool – Try it free today”\n\n“Flash Sale: Buy 1 Get 1 Free until midnight”\n\n2. Social\n\nDefinition:\nEmails generated by social media platforms related to interactions, notifications, or activity updates.\n\nExamples:\n\n“You have a new connection request on LinkedIn”\n\n“Someone mentioned you in a comment on Facebook”\n\n“Your Instagram post received 15 new likes”\n\n3. Purchase\n\nDefinition:\nTransactional emails confirming a one-time purchase, order, payment, or receipt.\n\nExamples:\n\n“Your order #45721 has been confirmed”\n\n“Payment successful for your Amazon purchase”\n\n“Invoice attached for your recent order”\n\n4. Paid Subscriptions\n\nDefinition:\nEmails related to active paid subscription services, including confirmations, renewals, billing, or plan changes.\n\nExamples:\n\n“Your Netflix subscription has been renewed”\n\n“Adobe Creative Cloud monthly billing confirmation”\n\n“Your Shopify plan payment was successful”\n\n5. Live Streaming\n\nDefinition:\nEmails related to live streams, webinars, online events, or scheduled broadcasts (free or paid).\n\nExamples:\n\n“Live webinar starts in 1 hour: AI Automation Basics”\n\n“You are registered for today’s YouTube Live session”\n\n“Reminder: Live workshop begins at 7 PM”\n\n6. Personal\n\nDefinition:\nDirect, human-written emails intended for personal or professional communication, not automated marketing.\n\nExamples:\n\n“Can we reschedule our meeting to tomorrow?”\n\n“Please review the attached document and share feedback”\n\n“Thank you for your help yesterday”\n\n7. Auto Resubscription Alert\n\nDefinition:\nAutomated warnings or alerts indicating an upcoming or automatic renewal, especially when action may be required.\n\nExamples:\n\n“Your subscription will renew automatically in 3 days”\n\n“Reminder: Your plan will auto-charge on June 30”\n\n“Action required: Update payment method to avoid interruption”\n\n8. Misc\n\nDefinition:\nEmails that do not clearly fit into any of the above categories.\n\nExamples:\n\n“Your email settings have been updated”\n\n“Security alert from your email provider”\n\n“System maintenance notification”\n\nClassification Priority Guidance\n\nIf an email could belong to multiple categories:\n\nAuto Resubscription Alert takes priority over Paid Subscriptions\n\nPurchase takes priority over Promotions\n\nPersonal applies only when clearly written by a human"
            },
            {
              "content": "=Sender:{{ $json.headers.from }}\nSubject:{{ $json.headers.subject }}\nText body: {{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2576,
        -752
      ],
      "id": "2cfd5d3a-0267-4a8f-ba12-0fcf4edb4c4d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "RJwCSDMPKzzhilSy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Promotions",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "371b3345-cd69-4516-86c2-25b0984db963"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf2ccd46-8308-422d-9ea9-58d13707e8dc",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Social",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2a8b5ab-07a3-4058-960c-5e1054407a2d",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Purchase",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d093237d-5238-42d9-ae79-8bc075151684",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Paid Subscriptions",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f4174ca-9ab6-46c3-b7d9-e91c1b769857",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Live Streaming",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ddf46c9b-4b42-4da0-9447-6cbd8db78054",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Personal",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4b808169-7d71-4cfa-9cc1-508d0cb724a7",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Auto Resubscription Alert",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28d72dc4-e5e3-4ef1-bd39-f87d69e3efc6",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "Misc",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2224,
        -848
      ],
      "id": "d0635752-09fb-4d0e-aa43-337963e67a02",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7513124817494897386"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -1328
      ],
      "id": "64d108ba-da4e-40a8-8a7d-28c7b46e705f",
      "name": "Promotions2",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1115404204597759870"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -1136
      ],
      "id": "11deb0bc-f0c5-4e33-8980-089e7d621345",
      "name": "Social2",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1283145793355507625"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -752
      ],
      "id": "c3fdd303-4975-49d2-989c-7190c3138af5",
      "name": "Paid Subscription",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2715495032817662557"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -560
      ],
      "id": "0fc65bcc-54bf-414e-a505-b07b827cc3ba",
      "name": "Live Streaming",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5683656541478945106"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -368
      ],
      "id": "ef31b9f5-6d2f-4933-94de-942348da561b",
      "name": "Personal",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4463578523383230888"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -176
      ],
      "id": "1cfab650-d408-42d3-befc-d3aae8149439",
      "name": "Auto Re-Subscription Alert",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2675671360856649995"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        16
      ],
      "id": "1f79c94e-7650-417f-a788-c4017a24a6f1",
      "name": "Misc",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5356740502242705831"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -944
      ],
      "id": "3afea226-0c21-40e5-8875-3aad39629451",
      "name": "Purchase",
      "webhookId": "1107bcbf-29ce-44f7-b992-964696af17e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1712,
        -752
      ],
      "id": "6a5f887c-01f1-464d-9e9b-22ff3e745c63",
      "name": "Remove label from message",
      "webhookId": "d6b4335c-85e4-43bc-ad79-122ba44b884e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "GPT-4-TURBO"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a expert assistant, generate a personalised response to the incoming email.\nDo not change the variables like \"name\",\"email\" & \"subject\"\nAlso sign off with regards, Zee with every email. "
            },
            {
              "content": "=email:  {{ $('Gmail Trigger').item.json.from.value[0].address }}\nsubject:{{ $('Gmail Trigger').item.json.subject }}\ntext body:{{ $('Gmail Trigger').item.json.from.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1776,
        -368
      ],
      "id": "7638614f-fcba-4f9f-a766-1c7b4c68ed32",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "RJwCSDMPKzzhilSy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.subject }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {
          "threadId": "={{ $('Personal').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.headers.from }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1424,
        -368
      ],
      "id": "89c8c4ed-f85a-442a-99f9-cd10cd45fed5",
      "name": "Create a draft",
      "webhookId": "c630e457-fa02-4794-b658-814ffda21ab0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fujvo4y19HPIGmcv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c0aceeb032112d",
          "threadId": "19c0ace824c830c6",
          "labelIds": [
            "UNREAD",
            "IMPORTANT",
            "SENT",
            "INBOX"
          ],
          "sizeEstimate": 672,
          "headers": {
            "mime-version": "MIME-Version: 1.0",
            "date": "Date: Thu, 29 Jan 2026 12:30:57 -0500",
            "message-id": "Message-ID: <CAKSwwVj3HuBn+rXj2gJpBoSWFk=uAJn2Rckp5FA76jALKJX-Dg@mail.gmail.com>",
            "subject": "Subject: Partnership",
            "from": "From: Zeeshan Ali <zeeshan.2e.ali@gmail.com>",
            "to": "To: Zeeshan Ali <zeeshan.2e.ali@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"00000000000045e45a06498a38e6\""
          },
          "html": "<div dir=\"ltr\">Hey Zee can we work together on this?</div>\n",
          "text": "Hey Zee can we work together on this?\n",
          "textAsHtml": "<p>Hey Zee can we work together on this?</p>",
          "subject": "Partnership",
          "date": "2026-01-29T17:30:57.000Z",
          "to": {
            "value": [
              {
                "address": "zeeshan.2e.ali@gmail.com",
                "name": "Zeeshan Ali"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Zeeshan Ali</span> &lt;<a href=\"mailto:zeeshan.2e.ali@gmail.com\" class=\"mp_address_email\">zeeshan.2e.ali@gmail.com</a>&gt;</span>",
            "text": "\"Zeeshan Ali\" <zeeshan.2e.ali@gmail.com>"
          },
          "from": {
            "value": [
              {
                "address": "zeeshan.2e.ali@gmail.com",
                "name": "Zeeshan Ali"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Zeeshan Ali</span> &lt;<a href=\"mailto:zeeshan.2e.ali@gmail.com\" class=\"mp_address_email\">zeeshan.2e.ali@gmail.com</a>&gt;</span>",
            "text": "\"Zeeshan Ali\" <zeeshan.2e.ali@gmail.com>"
          },
          "messageId": "<CAKSwwVj3HuBn+rXj2gJpBoSWFk=uAJn2Rckp5FA76jALKJX-Dg@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Promotions2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Purchase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paid Subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Live Streaming",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto Re-Subscription Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Misc": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Re-Subscription Alert": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Live Streaming": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paid Subscription": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purchase": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social2": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotions2": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove label from message": {
      "main": [
        []
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fe98e62f-e6d3-453f-ab71-e5694a8b66a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31e0fd81ef5c57482cbfd33d20d2deb30d12f3413eaa962ec97a5f58dc7768df"
  },
  "id": "IkxE81FiuBH14R7V",
  "tags": []
}